* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maincolor: #ff305b;
    --bgcolor: #333;
}
body {
    font-family: "Roboto", sans-serif;
    color: white;
}

p {
    --paragraphcolor: #c1c1c1;
}
